<table class="table table-bordered table-hovered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Gender</th>
        <th>Branch</th>
        <th>Manage</th>
    </tr>
    <tr *ngFor="let a of employees">
        <td>{{a.name}}</td>
        <td>{{a.email}}</td>
        <td>{{a.mobile}}</td>
        <td>{{a.gender}}</td>
        <td>{{a.branch}}</td>
        <td>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger ms-3">Delete</button>
        </td>
        
    </tr>
</table>